* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #42df90;
  background: linear-gradient(45deg, #42df90 0%, #149e8e 100%);
}

.winning-message {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
}

.board {
  width: 600px;
  height: 600px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100px)[3];
      grid-template-columns: repeat(3, 100px);
  -ms-grid-rows: (100px)[3];
      grid-template-rows: repeat(3, 100px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.cell {
  height: 100%;
  width: 100%;
  border: 2px solid #fff;
  background-color: transparent;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.cell:hover {
  background-color: #413b3b;
}

.game-started {
  pointer-events: visible;
}

/*------------ remove cell borders-------------------*/
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(9),
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

/*---------------- TIC AND O STYLING-----------------------*/
.cell.x {
  background: url(../images/stop_circle-24px.svg) no-repeat;
  background-size: cover;
}

.cell.tic {
  background: url(../images/check-24px.svg) no-repeat;
  background-size: cover;
}

.cell.x,
.cell.tic {
  cursor: not-allowed;
}

#mode-select {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  outline: none;
  height: 1.5rem;
  cursor: pointer;
  font-size: 1.1rem;
}

.input-container {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

label {
  margin: 1rem 1rem 0 1rem;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
}

input {
  border: none;
  border-bottom: 2px solid white;
  color: white;
  outline: none;
  padding: 0.2rem;
  font-size: 1.2rem;
  width: auto;
  background: transparent;
}

button {
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(15, 11, 11, 0.3), 0 0 15px rgba(15, 11, 11, 0.3);
          box-shadow: 0 0 5px rgba(15, 11, 11, 0.3), 0 0 15px rgba(15, 11, 11, 0.3);
  color: #fff;
  outline: none;
  margin: 2rem 2rem 0 1rem;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.2rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #22f145;
}

.input-error {
  position: absolute;
  top: 20%;
  color: white;
}

.p1-name,
.p2-name,
#start-game {
  display: none;
}

.turn-message {
  position: absolute;
  top: 20%;
  color: white;
}

/*------------------------PVC MODE---------------------------*/
.mark-container {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 2rem;
  display: none;
}

.tic-mark,
.x-mark {
  height: 100px;
  width: 100px;
  background: url(../images/check-24px.svg) no-repeat, #fff;
  background-size: cover;
  border: 2px solid black;
  cursor: pointer;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.3);
}

.x-mark {
  background: url(../images/stop_circle-24px.svg) no-repeat, #fff;
  background-size: cover;
}

.tic-mark:hover {
  background: url(../images/check-24px.svg) no-repeat, #b4b2b2;
  background-size: cover;
}

.x-mark:hover {
  background: url(../images/stop_circle-24px.svg) no-repeat, #b4b2b2;
  background-size: cover;
}

.mark-select-heading {
  position: absolute;
  color: #fff;
  top: 20%;
  display: none;
}

/*------------------------GAME FINISHED----------------------*/
.game-finished {
  cursor: not-allowed;
  pointer-events: none;
}
/*# sourceMappingURL=style.css.map */